In [2]:
pip install snscrape

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting snscrape
  Downloading snscrape-0.3.4-py3-none-any.whl (35 kB)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from snscrape) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.2.6)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.6.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2022.5.18.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.24.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: snscrape
Successfully installed snscrape-0.3.4

In [3]:
import snscrape.modules.twitter as tw
import pandas as pd

In [5]:
query = "banking and financial services"
tweets = []
limit = 100
for tweet in tw.TwitterSearchScraper(query).get_items():
    if len(tweets) == limit:
        break
    else:
        tweets.append([tweet.date,tweet.username,tweet.content])
df = pd.DataFrame(tweets,columns=['Date','Username','Tweet'])
df

,Date,Username,Tweet
0,2022-05-23 19:24:16+00:00,fjhuerta,Driving innovation and scale for financial ser...
1,2022-05-23 17:09:35+00:00,akash_mehta15,"On merger: ""Now the common lingo is too big to..."
2,2022-05-23 16:02:35+00:00,Genpact,With #AWS Financial Services Competency obtain...
3,2022-05-23 15:40:04+00:00,dxsherpa,#Cybersecurity in #Finance with #ServiceNow at...
4,2022-05-23 15:20:29+00:00,IDFinance_com,Fintechs redefine a new way of understanding b...
...,...,...,...
95,2022-05-19 14:58:48+00:00,WarrenBuffeNFT,@exlawyernft Would you be able to break this d...
96,2022-05-19 13:58:18+00:00,AdamChrisNagy,@btcisinevitable @gladstein @jemimajoanna My b...
97,2022-05-19 13:28:02+00:00,YellowbrickData,A recent report from @Allied_MR projects the g...
98,2022-05-19 13:21:21+00:00,gumballpay,Between evolving #customer expectations and a ...
99,2022-05-19 13:17:09+00:00,getuptodated,The Australia and New Zealand Banking Group Li...